body {
    background-color: slategray;
    text-align: center;
}

p {
    color: white;
    font-family: Shanti;
    font-size: 1.2em;
    margin: 20px;
}

nav {
    background-color: cyan;
}

nav ul {
    display: inline;
    list-style-type: none;
}

nav a {
    display: inline;
}